<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ app_select.name }}</title>
    <link rel="icon" type="image/jpg" href="{% static 'img/cabd.jpg' %}"/>
    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-detail.css' %}" rel="stylesheet">
    <!-- Footer -->
    <link href="{% static 'css/footer-distributed-with-address-and-phones.css' %}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <span class="navbar-brand" href="index.html">{{ app_select.name }}</span>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li style="text-align:center;">
                <a class="nav-link dropdown-toggle mr-lg-2" id="userDropdown" href="#" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="{% static 'img/icon-user.png' %}" alt="{{ user.email }}" width="60px"/><br />
                            <span class="name_user">{{ user.first_name }} {{ user.last_name }}</span><br/>
                            <span class="email_user">{{ user.email }}</span>
                        </div>
                    </div>
                </a>
            </li>
            {% for app in apps %}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ app.name }}">
                <a class="nav-link" href="{% url 'principal:detail-apps-view' app.pk %}">
                    <i class="fa fa-fw fa-wrench"></i>
                    <span class="nav-link-text">{{ app.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <a class="nav-link mr-lg-2" href="{% url 'login' %}">
                    <i class="fa fa-home" aria-hidden="true"></i> Home
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-question-circle"></i> Help
                    <span class="d-lg-none">Help</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">New Messages:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <strong>David Miller</strong>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome!
                            These messages clip off when they reach the end of the box so they don't overflow over to
                            the sides!
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <a class="nav-link mr-lg-2" href="{% url 'principal:edit-user-view' user.pk %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid apps">
        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xs-6">
                <h1>{{ app_select.name }}</h1>
                <p>{{ app_select.description }}</p>
            </div>
            <div class="col-xs-6">
                <img src="{{ app_select.image.url }}" alt="{{ app_select.name }}" />
                <br/>
                <br/>
                <a href="#" class="btn btn-primary"><i class="fa fa-list-alt" aria-hidden="true"></i> Go to form</a>
            </div>
        </div>
        {% for section in sections %}
        <div class="row sections">
            <div class="card">
                <div class="card-header">
                    <h5>{{ section.title }}</h5>
                </div>
                <div class="card-body">
                    <!--<h5 class="card-title">Special title treatment</h5>-->
                    <p class="card-text">{{ section.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr/>
    <!-- Tabla Task -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Tasks
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Taskcode</th>
                            <th>Name</th>
                            <th>State</th>
                            <th>App</th>
                            <th>Creation Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--{% if tasks %}-->
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.app.taskcode }}</td>
                            <td>{{ task.name }}</td>
                            <td>{{ task.state }}</td>
                            <td>{{ task.app.name }}</td>
                            <td>{{ task.creation_date }}</td>
                        </tr>
                        {% endfor %}
                        <!--{% endif %}-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Company<span>logo</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">Blog</a>
                ·
                <a href="#">Pricing</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Faq</a>
                ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">Company Name &copy; 2015</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>21 Revolution Street</span> Paris, France</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+1 555 123456</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">support@company.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
                vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'js/sb-admin-datatables.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-charts.min.js' %}"></script>
</div>
</body>

</html>